#!/usr/bin/env bash

# name="galera"
name = "dbcluster_galera-1-{{ cluster_name }}"
mxname="maxscale-{{ cluster_name }}.cnf"
{% raw %}

cp pxc-MaxScale.cnf $mxname

hosts=()
ids=()
cnt="$(docker ps | grep $name | wc -l)"
[[ $cnt -eq 0 ]] && echo "No galera containers running" && exit 1
for ((i=1; i<=cnt; i++)); do
    container_id=$(docker ps | grep "$name_$i" | awk '{print $1}')
    echo "container id : $container_id"
    ip=$(docker inspect --format '{{ .NetworkSettings.IPAddress  }}' $container_id)
    echo "container ip : $ip"
    #echo "docker exec $c \"sed -i \"s|.*wsrep_cluster_address.*=.*|$address|g\" $mycnf\""
    sed -i  "s|{{dbserv$i}}|$ip|g"  $mxname
    #hosts+=($ip)
    #ids+=($container_id)
done
{% endraw %}
