[db]
db-sandbox-rodeo ansible_ssh_host={{ db_ip }} ansible_ssh_private_key_file={{ key_file }} ansible_ssh_user={{ ssh_user }} tenant_id=dev_sandbox

[auth]
auth-sandbox-rodeo ansible_ssh_host={{ auth_ip }} ansible_ssh_private_key_file={{ key_file }} ansible_ssh_user={{ ssh_user }} tenant_id=dev_sandbox

[core]
core-sandbox-rodeo ansible_ssh_host={{ core_ip }} ansible_ssh_private_key_file={{ key_file }} ansible_ssh_user={{ ssh_user }} tenant_id=dev_sandbox core_config_file=dev_sandbox
